/*
	site-footer defined in footer.html
*/

#site-footer {
	height: 50px;
	color: #2c3e50;
	background: #2c3e50 center no-repeat;
	text-align: center;
	vertical-align: middle;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
position: relative; /* child absolute */
  margin: 0 -30rem;
  /* add back section padding value */
  padding: 0 0;
}


body{
  font-family: Helvetica;
  font-size: 12pt;
}

/* Lines after major Headers */
h2{
  border-bottom:5px solid #CCC;
  padding-bottom:3px;
}
h3{
  border-bottom:2px solid #CCC;
  padding-bottom:3px;
}

/* datatable hover */
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
background-color: #2c3e50 !important;
color: white !important;}
