/*
	site-footer defined in footer.html
*/

#site-footer {
	color: white;
	background: #2c3e50 center no-repeat;
	border-top: 3px solid black;
	text-align: left;
	vertical-align: middle;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
  padding-top: 25px;
  padding-left: 5%;
  padding-bottom: 5%;
  box-shadow: 0 50vh 0 50vh #2c3e50;
}


body{
  font-family: Helvetica;
  font-size: 12pt;
}

/* Lines after major Headers */
h2{
  border-bottom:5px solid #CCC;
  padding-bottom:3px;
}
h3{
  border-bottom:2px solid #CCC;
  padding-bottom:3px;
}
h7{
  font-size: 18pt;
}

/* datatable hover */
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
background-color: #2c3e50 !important;
color: white !important;}


.polaroid {
  width: 115px;
  padding: 1%;
  border: 1px solid #212121;
  color: white;
  font-size: 10pt;
  background-color: #333333;
  box-shadow: 10px 10px 5px #212121;
}

.rotate_right {
  float: left;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}

div.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}

a.minimal:link {
  background-color: transparent; 
  text-decoration: none;
}

.img-tile {
  float: left;
  width: 100%;
  height: auto;
  padding: 3%;
  margin: 4%;
  border: 1px solid #212121;
  color: black;
  font-size: 10pt;
  background-color: white;
  box-shadow: 10px 10px 5px #212121;
}

.img-tile:hover {
  opacity: 0.6;
  cursor: pointer; 
  padding: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-tile-inert {
  float: left;
  opacity: 0.4;
  cursor: default;
  width: 100%;
  height: auto;
  padding: 3%;
  margin: 4%;
  border: 1px solid #212121;
  color: black;
  font-size: 10pt;
  background-color: white;
  box-shadow: 10px 10px 5px #212121;
}